@import url(https://fonts.googleapis.com/css?family=Montserrat:700);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,400;);

body {
  position: relative;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  z-index: 0;
  background-color: #3498db;
  overflow-x: hidden;
}

#game-window {
  position: absolute;
  overflow-y: hidden;
  overflow-x: hidden;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  z-index: -1;
}

html {
  overflow-y: hidden;
  overflow-x: hidden;
  height: 100vh;
  width: 100vw;
}

.rocketDiv {
  width: 40px;
  position: absolute;
  bottom : 0px;
  left: 400px;
}

.projectIcon {
  position: absolute;
  width: 40px;
  height: 40px;
  z-index: 1;
  border: 5px solid white;
  border-radius: 50%;
  transition: transform 0.6s, width 0.4s, height 0.4s, background-image 0.3s;;
}

.gipht {
  background-color: #2ECC4A;
}

.tic-tac-toe {
  background-color: #E88300;
}

.contribute {
  background-color: #AA3A2B;
}

.spaced {
  background-color: #1B71AB;
}

.glance {
  background-color: #4ABDD2;
}

.about-me {
  background-image: url('../images/me.png');
  background-size: cover;
  background-color: white;
}

.rocket {
  width: 100%;
}

.rocketFlame {
  transition: transform 1s;
  position: absolute;
  width: 100%;
  top: 78px;
  left: 0px;
  z-index: -1;
}

.bullet {
  position: absolute;
  width: 3px;
  height: 15px;
  background-color: white;
  transition: left 0.1s, bottom 0.1s;
  z-index: -1;
}

.enemy {
  transition: transform 0.4s;
  position: absolute;
  width: 25px;
  height: 25px;
  color: white;
  font-size: 25px;
  z-index: 1;
}

.explosion {
  width: 100%;
}

.scoreCount {
  position: absolute;
  top: 250px;
  width: 100vw;
  height: 50vh;
  font-size: 200px;
  font-family: "Montserrat";
  text-align: center;
  color: rgba(0, 0, 0, 0.08);
}

#welcome-container {
  position: relative;
  width: 100vw;
  margin: 0 auto;
  top: 37vh;
  transition: top 1s;
  text-align: center;
  z-index: -2;
  /*to prevent annoying fadeTo animation jump in Safari*/
  -webkit-font-smoothing: antialiased;
}

#welcome-container img{
  width: 400px;
}
#view-options{
  text-align: center;
  margin-top: 40px;
  color: white;
  font-family: "Roboto";
}


.welcome-small-text {
  color: white;
  display: block;
  font-family: "Roboto";
  font-size: 18px;
  letter-spacing: 2px;
  text-align: center;
}

.welcome-big-text {
  color: white;
  font-family: "Montserrat";
  font-size: 55px;
  display: block;
  text-align: center;
  padding: 10px 0 10px 0;
  margin: 0;
}

.view-option-btn {
  margin: 20px 20px 20px 20px;
  padding: 10px 20px 10px 20px;
  border: 2px solid white;
  border-radius: 20px;
  cursor: pointer;

}



.project-container {
  position: relative;
  top:0;
  left:0;
  min-height: 100vh;
  width: 100%;
  padding-bottom: 20px;
  color: white;
}

.display-container {
  max-width: 900px;
  margin: 0 auto;
  padding-top: 50px;
  text-align: center;
}

.project-intro {
  font-family: "Roboto";
  font-size: 16px;
  letter-spacing: 0.6px;
  line-height: 25px;
  font-weight: 100;
  text-align: justify;
}

.project-imgs-container {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  max-width: 100%;
  margin: 0 0 -65px 0;
}

.project-imgs-container img {
  height: 420px;
}

.close-project {
  float: right;
  font-size: 50px;
  cursor: pointer;
  vertical-align: bottom;
  padding-top: 80px;
}

#about-me {
  background-color: white;
  z-index: 1000000000000;
  color: #B34646;
}


#contribute {
  background-color: #AA3A2B;
  z-index: 1000000000000;
}

#tic-tac-toe {
  background-color: #E88300;
  z-index: 1000000000000;
}

#gipht {
  background-color: #2ECC4A;
  z-index: 1000000000000;
}

#spaced {
  background-color: #1B71AB;
  z-index: 1000000000000;
}

#glance {
  background-color: #4ABDD2;
  z-index: 1000000000000;
}

#main-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 100vh;
  z-index: 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

#main-content h2 {
  font-family: "Montserrat";
  font-size: 50px;
  text-align: left;
  padding: 80px 0 20px 0;
  margin: 0;
}

#main-content h3 {
  font-family: "Montserrat";
  font-size: 25px;
  text-align: left;
  margin: 65px 0 30px 0;
}

.technology-icon-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding: 48px 0px 80px 0px;
}

.technology-icon {
  width: 100px;
  height: 100px;
  font-size: 70px;
  text-align: center;
  margin: 0px 20px 0px 20px;
}

.project-link {
  font-family: "Roboto";
  font-size: 20px;
  text-align: left;
  margin: 21px 0 0px 0;
}

.project-link a {
  text-decoration: none;
  color: white;
  font-size: 17px;
  letter-spacing: 0.6px;
  transition: color 0.4s;
}

.project-link a:hover {
  color: #BBB8B8;
}

.project-link i {
  margin-right: 10px;
}

#profile-image {
  width: 150px;
  padding: 20px 0 0 0;
}

h2#my-name{
  margin: 30px 0 50px;
  padding: 0;
  font-size: 50px;
  text-align: center;
}

#about-me p {
  font-family: "Roboto";
  font-size: 16px;
  letter-spacing: 0.6px;
  line-height: 25px;
  font-weight: 300;
  text-align: justify;
  color: black;
}

#about-me .project-link a {
  font-family: "Roboto";
  font-size: 18px;
  text-decoration: none;
  color: #717171;
  letter-spacing: 0.6px;
  transition: color 0.4s;
}

#about-me .project-link a:hover {
  color: black;
}

#welcome-container p {
  font-family: "Montserrat";
  font-size: 20px;
  color: white;
}

#go p {
  font-family: "Montserrat";
  font-size: 40px;
  color: white;
}

#contact-links {
  margin: 40px 0 60px 0;
}

#to-projects {
  font-size: 50px;
  margin-bottom: 60px;
}

#to-projects i {
  padding: 15px;
  border: 7px solid #B34646;
  border-radius: 50%;
}


@media screen  and (max-width: 979px) /* Tablet */ {
     .project-container {
       padding: 0px 15px 20px 15px;
        box-sizing: border-box;
     }

     #main-content h2 {
       text-align: center;
     }

     #main-content h3 {
       text-align: center;
     }

     .technology-icon-container {
       justify-content: space-around;
     }

     .project-intro {
        font-family: "Roboto";
        font-size: 16px;
        letter-spacing: 0.5px;
        line-height: 25px;
        font-weight: 300;
        text-align: justify;
    }

}
